@font-face {
  font-family: "iconfont-bigscreen"; /* Project id 4409612 */
  src: url('iconfont.woff2?t=1705368963262') format('woff2'),
       url('iconfont.woff?t=1705368963262') format('woff'),
       url('iconfont.ttf?t=1705368963262') format('truetype'),
       url('iconfont.svg?t=1705368963262#iconfont-bigscreen') format('svg');
}

.iconfont-bigscreen {
  font-family: "iconfont-bigscreen" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shift-team:before {
  content: "\e650";
}

.icon-newcohesion:before {
  content: "\e600";
}

.icon-zhuangshi:before {
  content: "\e6bf";
}

.icon-data-3d:before {
  content: "\e609";
}

.icon-border-outer:before {
  content: "\eafe";
}

.icon-quxiaoguanlian:before {
  content: "\e703";
}

.icon-zuhe:before {
  content: "\e628";
}

.icon-datafull:before {
  content: "\e7a6";
}

.icon-data:before {
  content: "\e7e8";
}

.icon-zujian:before {
  content: "\e8bb";
}

.icon-svg:before {
  content: "\e891";
}

.icon-yulan:before {
  content: "\e633";
}

.icon-baocun:before {
  content: "\e618";
}

.icon-menu:before {
  content: "\e63a";
}

.icon-xiangmuwenjianmobanku_mobanku:before {
  content: "\e625";
}

.icon-eye-close:before {
  content: "\e613";
}

.icon-jichushuju:before {
  content: "\e62e";
}

.icon-qingkong:before {
  content: "\e6dc";
}

.icon-eye:before {
  content: "\e69e";
}

.icon-layer:before {
  content: "\e614";
}

.icon-lishi:before {
  content: "\e60e";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-zujian1:before {
  content: "\e640";
}

.icon-chehui:before {
  content: "\e643";
}

.icon-shujudaping:before {
  content: "\e69f";
}

.icon-zhankaicaidan:before {
  content: "\e659";
}

.icon-shouqicaidan:before {
  content: "\e65a";
}

.icon-jiantouqianjin:before {
  content: "\e85e";
}

.icon-layers-fill:before {
  content: "\e85c";
}

.icon-sun:before {
  content: "\e608";
}

.icon-moon:before {
  content: "\e67b";
}

